@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani:600&display=swap');

.line {
width: 112px;
height: 47px;
border-bottom: solid black 1px;
align-items: center;
}

body {
  background-color: #E8DEC5;
  text-align: center;
}

h1 {
  color: black;
  font-family: 'Bungee Hairline', cursive;
  font-size: 45px;
  font-weight: 700;
  line-height: 24px;
}
h2 {
  color: #416650;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: 10%;
  margin-right: 10%;
}


input[type="text"] {
    background: transparent;
    border: none;
    width: 490px;
}

input[type="submit"] {
    background-color: #366147;
    border: none;
    border-radius: 3px;
    padding-right: 3px;
    color: #E8DEC5;
}


h1, body, div {
  text-align: center;
  float: center;
}

div {
  display:inline-block;
}

button {
  border: 0px;
  float: right;
  background-color: transparent;
  color: #366147;
  font-weight: bold;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  outline: none;
}

#creatingTask {
border-radius: 20px;
padding-top: 4px;
padding-left: 13px;
padding-right: 13px;
padding-bottom: 4px;
border: solid black 1px;
text-align: left;
width: 600px;
}

li {
  border-radius: 20px;
  padding-top: 4px;
  padding-left: 13px;
  padding-right: 13px;
  padding-bottom: 4px;
  border: solid black 1px;
  text-align: left;
  width: 600px;
  list-style-type: none;
  margin-top: 10px;
}

#createTaskButton {
  float: right
}

input, input:focus, textarea:focus, select:focus {
  border: none;
  outline: none;
  max-width: inherit;
}

.finished {
  padding-top: 100px
}

input {
  font-family: 'Playfair Display', serif;
  font-size: 17px;
}
